body{
    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;
}

.page-container{
    width: 100%;
    height: 100%;

    background-color: #D6D6D6;

    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "projects . work"
    ". central-piece ."
    "about social-media contact"
    ;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
}

.projects{
    grid-area: projects;
    justify-content: flex-start;
    align-items: flex-start;
}

.work{
    grid-area: work;
    justify-content: flex-end;
    align-items: flex-start;
}

.central-piece{
    grid-area: central-piece;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    grid-area: about;
    justify-content: flex-start;
    align-items: flex-end;
}

.social-media{
    grid-area: social-media;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.social-media a>i{
    color:#222;
    transition: all 1s ease;
}

.fa-linkedin-square:hover{
    color: #0a66c2;
    text-shadow: 0 0 3px #0a66c2;
}

.fa-github-square:hover{
    color: #818181;
    text-shadow: 0 0 3px #818181;
}

.contact{
    grid-area: contact;
    justify-content: flex-end;
    align-items: flex-end;
}


.navigation-links{
    color: #222;
    text-decoration: none;
    padding: 3rem;
    transition: all 1s ease;
}

.navigation-links:hover{
    text-shadow: 0 0 5px #33ff33,
        0 0 10px #33ff33,
        0 0 20px #33ff33,
        0 0 40px #33ff33,
        0 0 80px #33ff33,
        0 0 160px #33ff33;
}

.navigation-links--active{
    text-shadow: 0 0 5px #33ff33,
        0 0 10px #33ff33,
        0 0 20px #33ff33,
        0 0 40px #33ff33,
        0 0 80px #33ff33,
        0 0 160px #33ff33;
}

.navigation-links--active:hover{
    text-shadow: none;
}

.albania-link{
    color: #222;
    text-decoration: none;
    transition: all 1s ease;
}

.albania-link:hover{
    text-shadow: 0 0 5px #ff0000;
}